@charset 'UTF-8';
/*
  Grid
-----------------------------------------------------*/

.grid {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0;
}

.grid--justify {
  display: block;
  margin: -4px;
  width: auto;
}

.grid__item {
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: top;
  text-align: left;
  font-size: medium;
}

.grid--justify .grid__item {
  border: 4px solid transparent;
  background-clip: padding-box; /* IE8　非対応 */
}

.grid__item--sp--1 {
  width: 8.33333%;
}

.grid__item--sp--2 {
  width: 16.66667%;
}

.grid__item--sp--3 {
  width: 25%;
}

.grid__item--sp--4 {
  width: 33.33333%;
}

.grid__item--sp--5 {
  width: 41.66667%;
}

.grid__item--sp--6 {
  width: 50%;
}

.grid__item--sp--7 {
  width: 58.33333%;
}

.grid__item--sp--8 {
  width: 66.66667%;
}

.grid__item--sp--9 {
  width: 75%;
}

.grid__item--sp--10 {
  width: 83.33333%;
}

.grid__item--sp--11 {
  width: 91.66667%;
}

.grid__item--sp--12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid--justify {
    margin: -8px;
  }
  .grid--justify .grid__item {
    border-width: 8px;
  }
  .grid__item--tab--1 {
    width: 8.33333%;
  }
  .grid__item--tab--2 {
    width: 16.66667%;
  }
  .grid__item--tab--3 {
    width: 25%;
  }
  .grid__item--tab--4 {
    width: 33.33333%;
  }
  .grid__item--tab--5 {
    width: 41.66667%;
  }
  .grid__item--tab--6 {
    width: 50%;
  }
  .grid__item--tab--7 {
    width: 58.33333%;
  }
  .grid__item--tab--8 {
    width: 66.66667%;
  }
  .grid__item--tab--9 {
    width: 75%;
  }
  .grid__item--tab--10 {
    width: 83.33333%;
  }
  .grid__item--tab--11 {
    width: 91.66667%;
  }
  .grid__item--tab--12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .grid__item--pc--1 {
    width: 8.33333%;
  }
  .grid__item--pc--2 {
    width: 16.66667%;
  }
  .grid__item--pc--3 {
    width: 25%;
  }
  .grid__item--pc--4 {
    width: 33.33333%;
  }
  .grid__item--pc--5 {
    width: 41.66667%;
  }
  .grid__item--pc--6 {
    width: 50%;
  }
  .grid__item--pc--7 {
    width: 58.33333%;
  }
  .grid__item--pc--8 {
    width: 66.66667%;
  }
  .grid__item--pc--9 {
    width: 75%;
  }
  .grid__item--pc--10 {
    width: 83.33333%;
  }
  .grid__item--pc--11 {
    width: 91.66667%;
  }
  .grid__item--pc--12 {
    width: 100%;
  }
}
