@charset 'UTF-8';
/*
  Drawer
-----------------------------------------------------*/

.p-drawer {
  @include mq(tab,max) {
    &__icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2.5%;
      z-index: 1;
      margin: auto 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      &-parts,
      &-parts:before,
      &-parts:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        margin: auto;
        width: 20px;
        height: 2px;
        background-color: #000;
      }
      &-parts:before,
      &-parts:after {
        content: ' ';
      }
      &-parts:before {
        top: 12px;
      }
      &-parts:after {
        top: -12px;
      }
    }

    &__overlay {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;
      pointer-events: none;
    }

    &__menu {
      position: fixed;
      top: 0;
      right: -80vw;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      max-width: 100%;
      width: 80vw;
      height: 100vh;
      background: rgba(0,0,0,.8);
      color: #fff;
    }

    &__item {
      padding: 1em 1em;
      border-bottom: 1px solid #fff;
    }

    &__icon {
      z-index: 4;
    }
    &__menu {
      z-index: 3;
    }
    &__overlay {
      z-index: 2;
    }

    &__checkbox:checked ~  {
      .p-drawer__icon {
        .p-drawer__icon-parts {
          background: transparent;
        }
        .p-drawer__icon-parts:before {
          top: 0;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }
        .p-drawer__icon-parts:after {
          top: 0;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }
      }
      .p-drawer__overlay {
        opacity: .3;
        pointer-events: auto;
      }
      .p-drawer__menu {
        right: 0;
      }
    }
    &__icon-parts,
    &__icon-parts:after,
    &__icon-parts:before,
    &__overlay,
    &__menu {
      -webkit-transition: all .7s ;
              transition: all .7s ;
    }
  }
  &__checkbox {
    display: none;
  }
}
