@charset 'UTF-8';
/*
  Footer
-----------------------------------------------------*/

.p-footer {
  &__siteinfo {
    padding: 1.5em;
    background-color: #212121;
    color: #ccc;
    text-align: center;
  }

  &__address {
    font-style: normal;
    font-size: .8em;
    line-height: 1.3;

    @include mq(tab) {
      float: left;
    }
  }

  &__copyright {
    margin-top: 1em;
    color: #9e9e9e;
    text-transform: capitalize;
    font-size: .8em;

    @include mq(tab) {
      float: right;
      text-align: right;
    }
  }

  &__copyright a {
    color: #9e9e9e;
    text-decoration: none;
  }
}
